Checks: >
  -*
  bugprone-*
  clang-analyzer-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  misc-unused-parameters,
  misc-unused-using-decls
  -readability-identifier-length

WarningsAsErrors: '*'

HeaderFilterRegex: '^(apps|libs)/'
